
<html>
<head>
<title>AIG</title>
<meta name="ROBOTS" content="NOINDEX,NOARCHIVE">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body style="background:#e7e7e8;">
	<table align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="650">
      <tr>
        <td style="background:#e7e7e8; width: 650px; text-align: left; font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #656565;" align="left" valign="top">Please add <a href="mailto:xxxx@aigemail.com" style="color: #656565;">xxxx@aigemail.com</a> to your address book or safe list to ensure our e-mail reaches your inbox.<br>
        To view as a webpage click <a href="http://ebm.aigemail.com/c/tag/%%t%%/doc.html?t_params=%%t_params%%" style="color: #656565;"> here</a><br>
		<br></td>
	</tr>
	<tr>
		<td valign=top>
			<table border=0 cellspacing=0 cellpadding=0 width="100%">
				<tr>
					<td valign=top align=left style="font-size:0px;"><img border=0 alt=AIG src="http://f.aigemail.com/i/37/2089229562/masthead_aig.gif" width=650 height=90></td>
				</tr>
				<tr>
					<td height=28><img border=0 alt="" src="http://f.aigemail.com/i/37/2089229562/AIG_SPACER.JPG" width=38 height=28></td>
				</tr>
				<tr>
					<td style="FONT: 12px Arial, Helvetica, sans-serif; COLOR: #666">
						<table border=0 cellspacing=0 cellpadding=0 width="100%">
							<tr>
								<td width=38><img border=0 alt="" src="http://f.aigemail.com/i/37/2089229562/AIG_SPACER.JPG" width=38 height=1></td>
								<td valign="top">
									<table border=0 cellspacing=0 cellpadding=0 width="100%">
									<tr>
										<td valign="top" style="FONT: 12px Arial, Helvetica, sans-serif; COLOR: #666; text-align:left;" >Cher partenaire, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mi dui, vulputate a gravida ac, pretium eu ipsum. Nunc tristique enim in enim tempus vulputate. Fusce dignissim pharetra justo in ornare. Sed semper bibendum neque vitae lobortis. Integer dapibus vehicula molestie. Suspendisse nibh quam, consequat ut fermentum sit amet, facilisis in orci. Donec tincidunt erat vel nisi iaculis non vehicula nibh accumsan. Integer in tellus id nibh euismod laoreet. Curabitur vel risus eu nisi commodo tempus. Vivamus id nulla libero. Duis imperdiet feugiat lobortis. Phasellus ipsum elit, sagittis vel porttitor ut, viverra non lectus. Pellentesque scelerisque, sapien vitae tincidunt malesuada, tellus nunc varius urna, eget hendrerit sem purus sit amet sem. Quisque semper, ligula id viverra pulvinar, ipsum enim vestibulum mauris, vel cursus turpis nisl sed lorem.
										Vivamus vel nulla massa, id placerat felis. Mauris faucibus dui nec diam commodo ut accumsan dui dictum. Fusce dignissim ante eu lorem varius hendrerit. Quisque dui diam, placerat ut cursus molestie, auctor ac nulla. Proin venenatis, lacus vitae ultrices tristique, turpis mi facilisis arcu, sed aliquet tortor odio et augue. Curabitur ac metus eros. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.<br><br><br><br>
										Sincerly, <br><br>
										<img title="Kelly Lyles" border=0 alt="Kelly Lyles" src="http://f.aigemail.com/i/37/2089229562/kls.JPG" width=183 height=60><br>
										Name<br>
										Title<br></td>
										<td><img border=0 alt="" src="http://f.aigemail.com/i/37/2089229562/AIG_SPACER.JPG" width=12 height=1></td>
										<td valign="top">
											<table border=0 cellspacing=0 cellpadding=0 width="100%">
												<tr>
													<td style="FONT: 12px Arial, Helvetica, sans-serif; COLOR: #666" valign="top" align="center"><a href="http://%%track%%/aig6" target=_blank><img title="En savoir plus" border=0 alt="En savoir plus" src="http://f.aigemail.com/i/37/2089229562/0707EME002werestrongertogetherfrancectabutton.gif"></a></td>
												</tr>
												<tr>
													<td style="FONT: 12px Arial, Helvetica, sans-serif; COLOR: #666" valign="top" align="center"><br>
														<a style="COLOR: #005984" href="http://%%track%%/aig6" target="_blank ">En savoir plus &gt;</a></td>
													</tr>
												</table>
											</td>
										</tr>
										<tr>
										</tr>
									</table>
								</td>
								<td width=38><img border=0 alt="" src="http://f.aigemail.com/i/37/2089229562/AIG_SPACER.JPG" width=38 height=1></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td><img border=0 alt="" src="http://f.aigemail.com/i/37/2089229562/AIG_SPACER.JPG" width=1 height=30></td>
	</tr>
	<tr>
		<td style="PADDING-BOTTOM: 30px; PADDING-LEFT: 0px; PADDING-RIGHT: 30px; FONT: 10px arial; BACKGROUND: #e7e7e8; COLOR: #666; PADDING-TOP: 30px" align=left><a style="COLOR: #666" href="http://%%track%%/aig4" target=_blank>AIG</a>| <a href="http://www.aig.com/privacy_3171_448852.html"  style="color:#717174;" target="_blank">Privacy</a> | <a href="http://raf.aigemail.com/r/raf?n=28&t=%%t%%&u=%%RAF_TRACK%%&remail=%%email%%" style="color:#717174;" target="_blank">Forward to a Colleague</a><br><br>
        To unsubscribe from future messages like this, please click <a href="http://ebm.aigemail.com/r/webunsub?n=147&t=%%t%%&email=%%email%%" style="color:#717174;" target="_blank">here</a>.<br>
        175 Water St, New York, NY 10038<br>      
        &copy; 2013 American International Group, Inc. All Rights Reserved. </td>
    </tr>
</table>
</body>
</html>
